/web/.htaccess
/web/robots.txt
/web/sitemap.xml
/web/images/logo.png
/web/bundles/*
/web/snapshots/*
/web/bower_components/*
/web/npm-debug.log
/web/media/product/*
!/web/media/product/.htaccess
/web/photo/*
/web/css/*
/web/build/*

Capfile
node_modules
dist
.tmp
.sass-cache